<section class="Menu-section">
  <p class= "Menu-title"><%= menu_name %></p>
  <ul>
    <% menu_items.each do |mitem| %>
        <li>
          <div class= "MenuItem">
            <p class= "MenuItem-name"><%= mitem.name %>  - Rs. <%= mitem.price %></p>
            <%= form_with(url: order_items_path, method: "POST") do %>
              <%= hidden_field_tag("menu_item_id", mitem.id) %>
              <% menu_item = OrderItem.find_by(order_id: session[:current_order_id], menu_item_id: mitem.id)
                 if menu_item
                   disp = menu_item.quantity
                 else
                   disp = nil
                   prompt = "Add To Cart (0)"
                 end
              %>
              <%= select_tag "quantity", options_for_select([1,2,3,4,5],disp), include_blank: "Add To Cart (0)", onchange: "this.form.submit()", class: "MenuItem-quantity" %>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</section>
