<section class="Menu-section">
  <p class= "Menu-title"><%= menu_name %></p>
  <hr>
  <div class= "Category-section">
    <% menu_items.select(:category).distinct.each do |item| %>
      <a href="/cafeteria?category=<%= item.category%>" class= "Category">
        <button class= "Category-button" >
          <%= item.category%>
        </button>
      </a>
    <% end %>
  </div>
  <p class= "Category-title"><%= @category%></p>
  <ul>
    <% menu_items.where(category: @category).each do |mitem| %>
        <li>
          <div class= "MenuItem">
            <p class= "MenuItem-name"><%= mitem.name %>  - Rs. <%= mitem.price %></p>
            <%= form_with(url: order_items_path, method: "POST") do %>
              <%= hidden_field_tag("menu_item_id", mitem.id) %>
              <% menu_item = OrderItem.find_by(order_id: session[:current_order_id], menu_item_id: mitem.id)
                 if menu_item
                   disp = menu_item.quantity
                 else
                   disp = nil
                   prompt = "Add To Cart (0)"
                 end
              %>
              <%= select_tag "quantity", options_for_select([1,2,3,4,5],disp), include_blank: "Add To Cart (0)", onchange: "this.form.submit()", class: "MenuItem-quantity" %>
              <div class="Description-section">
                <%= image_tag "down.svg", class: "DownImage"%>
                <div class="Description">
                  <%= image_tag "noimage.png", class: "Description-image"%>
                  <p class="Description-text">Description ygyg 7b7yg7yg7y gby7g7yg xgdhd nmb b gbuk</p>
                </div>
              </div>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</section>
