<section class= "Menu-section">
  <p class= "Menu-title">Order Items</p>
  <hr>
  <% if flash[:error] %>
    <p class="Flash-error"><%= flash[:error] %> </p>
  <% end %>
  <% if @order_items && @order_items.count!=0 %>
    <% total = 0 %>
    <% @order_items.order(:id).each do |oitem| %>
      <div class= "OrderItem-section" >
        <div class="OrderItem">
          <p class= "OrderItem-name"><%= oitem.menu_item_name %>  x  <%= oitem.quantity %><p>
          <p class="ChangeQuantity">
            <a href= "/order_items/<%= oitem.id%>?symbol=0" data-method="PATCH" class= "ChangeQuantity-symbol">-</a>
              <%= oitem.quantity %>
            <a href= "/order_items/<%= oitem.id%>?symbol=1" data-method="PATCH" class= "ChangeQuantity-symbol">+</a>
          </p>
          <p class="MenuItem-quantity">Rs. <%= amount = oitem.quantity * oitem.menu_item_price %></p>
          <% total += amount %>
        </div>
        <p>Rs. <%= oitem.menu_item_price %></p>
      </div>
    <%end%>
    <p class= "Total">Total: <%= total %></p>
    <p class= "Order-button">
      <%= form_with(url: "/orders/confirm", method: "put") do %>
        <%= hidden_field_tag "total", total %>
        <%= submit_tag "Order", class: "Form-submit" %>
      <% end %>
    </p>
  <% else %>
    <p class = EmptyCart >The Cart Is Empty</p>
  <% end %>
</section>
