<section class= "Report-section">
  <div class="Report-div">
    <%= form_with(url: "/cafeteria/change_report", method: "post", class: "Report-form") do |f| %>
      <%= f.label "From: " %>
      <%= f.date_field(:from_date, min: Order.first.date, class: "Report-date")%>
      <%= f.label "To: " %>
      <%= f.date_field(:to_date, max: Date.today, class: "Report-date") %>
      <%= f.label "Customer: " %>
       <%= f.select :customer, options_from_collection_for_select(@users, "id", "name"), prompt: "Select Customer(optional)" %>
      <%= f.submit("View",class: "AddMenu-button") %>
    <% end %>
    <% if flash[:error]  %>
      <p class="Flash-error"><%= flash[:error] %> </p>
    <% end %>
    <p class= "Report-range"><%= @range %></p>
    <p class= "Report">Total No. of Orders: <%= @count%></p>
    <p class= "Report">Total Sales: Rs.<%= @total%></p>
  </div>

  <% while @from != @to + 1 %>
    <% orders = @orders.where(date: @from) %>
    <% if !orders.empty? %>
      <div class= "ReportDate-section">
        <p class= "ReportDate"> <%= @from.strftime("%d %B") %> - Total: <%= orders.total %> </p>
      </div>
      <%= render partial: "report-orders", locals: { orders: @orders.where(date: @from) } %>
    <% end %>
    <% @from = @from + 1 %>
  <% end %>
</section>
