<section class= "Home">
  <div class= "Welcome-section">
    <h1 class= 'Welcome-title'> Welcome to the Cafeteria</p>
  </div>

  <div>
    <a href= "/users/new" class= "Home-signout">
    <button type="button" class="Form-submit">Sign-up</button>
    </a>

    <div class= "UserNew">
      <p class= "NewUsers-title"> Sign-in!</p>
      <% if flash[:error] %>
        <p class="Flash-error"><%= flash[:error] %> </p>
      <% end %>
      <%= form_with url: sessions_path do |form| %>
        <div class= "Form-section">
          <p class= "FieldText">Name: </p>
          <%= form.text_field :name, class: "TextField" %>
        </div>
        <div class= "Form-section">
          <p class= "FieldText">Password: </p>
          <%= form.password_field :password, class: "TextField" %>
        </div>
        <div class= "Form-section">
          <%= form.submit "Sign-in!", class: "Form-submit"%>
        </div>
      <% end %>
    </div>
  </div>
</section>
