<!DOCTYPE html>
<html>
  <head class=>
    <title>Cafeteria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class= "Header">
        <p class="Icon-section">
          <%= image_tag("icon.png", class: "Icon") %>
        </p>
        <p class="Cafeteria-name">Cafeteria</p>
        <% if request.original_fullpath == "/" %>
          <a href= "/users/new" class= "Home-signup">
            <button type="button" class="Form-submit">Sign-up</button>
          </a>
        <% end %>
        <% if @current_user %>
          <p class="User-name">Welcome <%= @current_user.name%>!</p>
        <% end %>
      </header>
      <% if @current_user %>
        <div class="Topnav">
          <% path = request.path %>
          <a class=<%= path == "/cafeteria/about" ? "Active" : "Topnav-name" %> href= "/cafeteria/about" >About</a>
          <a class=<%= path == "/cafeteria" ? "Active" : "Topnav-name" %> href= "/cafeteria" >Home</a>
          <a class=<%= path == "/cafeteria/orders" ? "Active" : "Topnav-name" %> href="/cafeteria/orders" >Orders</a>
          <% if @current_user.role == "owner" %>
            <a class=<%= path == "/cafeteria/menus" ? "Active" : "Topnav-name" %> href="/cafeteria/menus">Menus</a>
            <a class=<%= path == "/cafeteria/menu_items" ? "Active" : "Topnav-name" %> href="/cafeteria/menu_items">Menu Items</a>
            <a class=<%= path == "/cafeteria/users" ? "Active" : "Topnav-name" %> href="/cafeteria/users">Users</a>
            <a class=<%= path == "/cafeteria/sales_report" ? "Active" : "Topnav-name" %> href="/cafeteria/sales_report">Sales Report</a>
          <% end %>
          <%= form_with url: destroy_sessions_path, method: "delete", class: "SignOut-form" do |f| %>
            <%= f.submit("Sign-out",class: "SignOut") %>
          <% end %>
          <a class="Topnav-cart" href="/cafeteria/cart">
            <%= image_tag("cart", class: "CartImage") %>
          </a>
        </div>
      <% end %>

    <%= yield %>
</html>
